<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="diary, secrets, book, notes">
    <meta name="description" content="Your secrets can be safe">
    <meta name="http-equiv" content="30">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="George Ijidola">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{--  <link rel="stylesheet" href="/css/bulma.css">  --}}
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    {{--  <link rel="stylesheet" href="/css/multi.min.css">  --}}
    <link rel="stylesheet" href="/fonts/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">

    <title>The Manager App</title>
</head>
<body>
    @!section('content')

    {{ script('/js/jquery.min.js') }}
    {{ script('/js/popper.min.js') }}
    {{ script('/js/bootstrap.min.js') }}
    {{--  {{ script('/js/multi.min.js') }}  --}}
    {{ script('/js/index.js') }}

</body>
</html>